// Reset
@import "partials/reset";

// Color
$logo_color: #575757;
$header_background: #fafafa;
$header_bottom_line: #f5f5f5;
$text_black: #343434;
$red_color: #f95860;

// Fonts
$opensans_reg: "OpenSansRegular";
$opensans_bold: "OpenSansBold";
$opensans_light: "OpenSansLight";

// REM Settings
html {
  font-size: 16px;
  font-family: $opensans_reg;
}

body.home::after {
  content:
      url('../images/nissan-front2.jpg')
      url('../images/nissan-cream-front2.jpg');
  display: none;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.8rem;
}

h3 {
	font-size: 3.4rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2.6rem;
}

h6 {
	font-size: 2.2rem;
}

.car-specific {
	margin-top: 15px;
	font-family: $opensans_light;
	padding-left: 15px;

	&__item {
		// list-style: square outside;
		margin-top: 5px;
		line-height: 24px;
		font-size: 1.2rem;
	}
}

// SVG Settings
.svg-all {
	display: none;
}

.logo-group {
	width: 100px;
	height: 80px;
}

#logo-group {
	path {
		fill: $logo_color;
	}
}

.svg-all:hover{
	#logo-group path {
		fill: red !important;
	}
}

@import "partials/fonts";
@import "partials/animate";
@import "partials/header";
@import "partials/homepage.scss";