section.contact
	.contact__container
		h1.title.title--center Contact Form
		p.subtext.subtext--center Send Message
		.contact__block
			.contact__form
				form
					input(placeholder = "Name:")
					input(placeholder = "Email:")
					textarea(placeholder = "Message:")
					a.btn.btn--futari.btn--send(href="#") Send
			.contact__link
				.icon-phone
				a.phone(href="#") +7-963-814-9000
				.icon-mail
				a.email(href="#") admin@futari.pro
				.icon-location
				p.location russian federation, blagoveschensk, teatralnya str. 228