section.delivery
	.delivery__container
		h1.title.title--center How to get product
		p.subtext.subtext--center Follow the instructions
		.delivery__info
			.delivery__block
				.delivery__icon
					svg.icon-cart(viewBox="0 0 512 512")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#icon-cart")
				p.delivery__title.delivery__title--center Select a product
				p.delivery__text.delivery__text--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime itaque saepe esse totam expedita, voluptates.
			.delivery__block
				.delivery__icon
					svg.icon-money(viewBox="0 0 512 512")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#icon-money")
				p.delivery__title.delivery__title--center Pay for the order
				p.delivery__text.delivery__text--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime itaque saepe esse totam expedita, voluptates.
			.delivery__block
				.delivery__icon
					svg.icon-track(viewBox="0 0 491.1 491.1")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#icon-track")
				p.delivery__title.delivery__title--center Receive an order
				p.delivery__text.delivery__text--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime itaque saepe esse totam expedita, voluptates.
		p.delivery__title Lorem ipsum dolor.
		p.delivery__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat quisquam tenetur consectetur nihil incidunt aut voluptatibus, veniam labore nostrum repudiandae quo ut veritatis perspiciatis voluptatum provident quaerat expedita dolor animi ab. Non unde placeat quae asperiores, similique magni dicta sed, nostrum voluptatum omnis rerum, esse! Aliquid exercitationem, rem perspiciatis blanditiis voluptatibus velit officiis sapiente in accusamus, quaerat, quae? Eius quis libero voluptatum commodi, modi, molestiae quia eaque illo debitis rem pariatur veniam est mollitia laborum blanditiis minus magnam sapiente distinctio. Velit explicabo accusantium corporis culpa eius maxime, excepturi, consectetur aliquam, deleniti eum, et aut dignissimos! Nam iusto quos sequi nostrum, officiis dicta odio voluptate, perspiciatis repudiandae ipsam.
		p.delivery__title Lorem ipsum dolor.
		p.delivery__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat quisquam tenetur consectetur nihil incidunt aut voluptatibus, veniam labore nostrum repudiandae quo ut veritatis perspiciatis voluptatum provident quaerat expedita dolor animi ab. Non unde placeat quae asperiores, similique magni dicta sed, nostrum voluptatum omnis rerum, esse! Aliquid exercitationem, rem perspiciatis blanditiis voluptatibus velit officiis sapiente in accusamus, quaerat, quae? Eius quis libero voluptatum commodi, modi, molestiae quia eaque illo debitis rem pariatur veniam est mollitia laborum blanditiis minus magnam sapiente distinctio. Velit explicabo accusantium corporis culpa eius maxime, excepturi, consectetur aliquam, deleniti eum, et aut dignissimos! Nam iusto quos sequi nostrum, officiis dicta odio voluptate, perspiciatis repudiandae ipsam.