footer.footer
	p.site-info__title Futari Car Design Studio
	p.site-info__address Russian federation, blagoveschensk, teatralnya str. 228
	a.site-info__phone(href="tel:+79638149000") +7-963-814-9000
script(src="js/jquery-3.2.1.min.js")
script(src="js/main.js")