header.header
	.header__container
		.logo
		nav.menu
			ul.menu__list
				li.menu__item
					a(href="#") Компания
				li.menu__item
					a(href="#") Магазин
				li.menu__item
					a(href="#") Доставка
				li.menu__item
					a(href="#") Контакты
		.language
			ul.language__list
				li.language__item
					a(href="#") Rus
				li.language__item
					a(href="#") Eng