header.header
	.header__container
		.logo
			a(href="/")
				svg.logo-group(viewBox="0 0 132.3 88")
					use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#logo-group")
		nav.menu
			ul.menu__list
				li.menu__item.menu__item--active
					a(href="/") About Us
				li.menu__item
					a(href="#") Shop
				li.menu__item
					a(href="delivery.html") Delivery
				li.menu__item
					a(href="contact.html") Contacts
		.language
			ul.language__list
				li.language__item.language__item--active
					a(href="#") Eng 
				span.language__line 
				li.language__item
					a(href="#") | Rus
		.humburger
			.menu-button-wrapper#menu-button-wrapper
				span
				span
				span
				span
		.mobile-menu
			ul
				li
					a(href="/") About Us
				li
					a(href="#") Shop
				li
					a(href="delivery.html") Delivery
				li
					a(href="contact.html") Contacts