header.header
	.header__container
		.logo
			a(href="/")
				svg.logo-group(viewBox="0 0 132.3 88")
					use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#logo-group")
		nav.menu
			ul.menu__list
				li.menu__item.menu__item--active
					a(href="#") About Us
				li.menu__item
					a(href="#") Shop
				li.menu__item
					a(href="#") Delivery
				li.menu__item
					a(href="#") Contacts
		.language
			ul.language__list
				li.language__item.language__item--active
					a(href="#") Rus
				span.language__line |
				li.language__item
					a(href="#") Eng
		.humburger
			.menu-button-wrapper#menu-button-wrapper
				span
				span
				span
				span
		.mobile-menu
			ul
				li
					a(href="#") About Us
				li
					a(href="#") Shop
				li
					a(href="#") Delivery
				li
					a(href="#") Contacts