section.main-content
	.main-content__container
		h1.title.title--center Обвес Ufo Nissan Juke
		.car-grid
			.car-grid__block
				.car__image
					img(src="images/nissan-front.jpg", alt="Nissan Juke")
				.car__info
					p.car__title Lorem ipsum dolor
					p.car__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero, placeat odio porro iusto hic eum architecto sit ea dolorum deleniti, error voluptates corporis ut nemo qui. Tempore quaerat nam numquam, voluptatem voluptates odio ut porro laborum deleniti, voluptate autem aliquid excepturi optio harum laboriosam doloremque amet distinctio! Obcaecati, iusto?
					ul
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
					a.btn(href="#") Button
					a.btn(href="#") Button
			.car-grid__block
				.car__image
					img(src="images/nissan-front.jpg", alt="Nissan Juke")
				.car__info
					p.car__title Lorem ipsum dolor
					p.car__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero, placeat odio porro iusto hic eum architecto sit ea dolorum deleniti, error voluptates corporis ut nemo qui. Tempore quaerat nam numquam, voluptatem voluptates odio ut porro laborum deleniti, voluptate autem aliquid excepturi optio harum laboriosam doloremque amet distinctio! Obcaecati, iusto?
					ul
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
					a.btn(href="#") Button
					a.btn(href="#") Button