section.main-content
	.main-content__container
		h1.title.title--center Обвес Ufo Nissan Juke
		.car-grid
			.car-grid__block
				.car__image
					img(src="images/nissan-front.jpg", alt="Nissan Juke")
				.car__info
					p.car__title Lorem ipsum dolor
					p.car__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero, placeat odio porro iusto hic eum architecto sit ea dolorum deleniti, error voluptates corporis ut nemo qui. Tempore quaerat nam numquam, voluptatem voluptates odio ut porro laborum deleniti, voluptate autem aliquid excepturi optio harum laboriosam doloremque amet distinctio! Obcaecati, iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nesciunt accusantium est, recusandae a sapiente quis ea fugit, repellat maxime dolor. Dolorum dicta quisquam, voluptatem.
					ul
						li - Lorem ipsum dolor sit amet.
						li - Lorem ipsum dolor sit amet.
						li - Lorem ipsum dolor sit amet.
					a.btn(href="#") Button
					a.btn(href="#") Button
			.car-grid__block
				.car__info
					p.car__title Lorem ipsum dolor
					p.car__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero, placeat odio porro iusto hic eum architecto sit ea dolorum deleniti, error voluptates corporis ut nemo qui. Tempore quaerat nam numquam, voluptatem voluptates odio ut porro laborum deleniti, voluptate autem aliquid excepturi optio harum laboriosam doloremque amet distinctio! Obcaecati, iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, sequi expedita vitae. Nulla tempore hic quas quasi deserunt eos eveniet odio ut voluptatem numquam. Eos?
					ul
						li - Lorem ipsum dolor sit amet.
						li - Lorem ipsum dolor sit amet.
						li - Lorem ipsum dolor sit amet.
					a.btn(href="#") Button
					a.btn(href="#") Button
				.car__image.car__image--order
					img(src="images/nissan-back.jpg", alt="Nissan Juke")