section.main-content
	.main-content__container
		h1.title.title--center Обвес Ufo Nissan Juke
		.color
			.color__title Chose You Color:
			.color__toxic Toxic
			.color__cream Cream
		.car-grid
			.car-grid__block
				.car__image
					.car__front-toxic
					.car__front-cream
					//- img(src="images/nissan-front.jpg")
					//- img(src="images/nissan-front2.jpg")
					//- button.plus#light-btn(data-name="light")
					.plus#light-btn(data-name="light")
						span +
				.car__info
					p.car__title Conquer any planet with the Juke UFO
					p.car__text Fantastical body kit UFO will turn your Nissan Juke into a spaceship! Yes, you can do it yourself! In your garage! The parts have excellent compatibility, and a smooth surface for painting! The set consists of 11 elements, completely changing the appearance of familiar Nissan JUKE!
					//- ul
					//- 	li - Lorem ipsum dolor sit amet.
					//- 	li - Lorem ipsum dolor sit amet.
					//- 	li - Lorem ipsum dolor sit amet.
					.button-line
						a.btn.btn--futari(href="#") Button
						a.btn.btn--futari(href="#") Button
				.market-block.light
					.marker-info
						.marker-info__image.animated.fadeInLeft(style="background-image:url('images/juke.jpg');")
						.marker-info__text.animated.fadeInRight
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum pariatur alias doloremque, voluptatibus adipisci ex amet minima aliquid quo, velit, praesentium dignissimos, ab perferendis cupiditate quos quis. Perspiciatis, porro, dolor.
						.plus--close
							span +
			.car-grid__block
				.car__info
					p.car__title The best composite materials!
					p.car__text Futari uses the most high-tech composite materials, which provide durability, elasticity, and wear resistance during expluatation! The UFO design uses very daring solutions that complement the overall architectonics of the Nissan Juke! Switch the mark on the Nissan Juke to learn more about the details! <br>
					ul.car-specific
						li.car-specific__item - Lorem ipsum dolor sit amet.
						li.car-specific__item - Lorem ipsum dolor sit amet.
						li.car-specific__item - Lorem ipsum dolor sit amet.
					.button-line
						a.btn.btn--futari(href="#") Button
						a.btn.btn--futari(href="#") Button
				.car__image.car__image--order
					.car__back-toxic
					//- img(src="images/nissan-back3.jpg", alt="Nissan Juke")
					//- img(src="images/nissan-back4.jpg", alt="Nissan Juke")