.contact {
	&__container {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
	}

	&__block {
		display: flex;
		flex-flow: row wrap;
		// justify-content: space-between;
		margin-top: 50px;
		padding: 15px;
		box-sizing: border-box;
	}

	&__form {
		width: 60%;

		input {
			width: 100%;
			display: block;
			margin: 10px 0px;
			padding: 20px 15px;
			box-sizing: border-box;
			border: none;
			background-color: #f2f2f2;
			font-size: 1.2rem;
			font-family: $opensans_light;


			&:focus {
					background: #d5d3d3; 
					border: none; 
					outline: none;
			}
		}

		textarea {
			width: 100%;
			height: 300px;
			display: block;
			margin: 10px 0;
			padding: 20px 15px;
			box-sizing: border-box;
			border: none;
			background-color: #f2f2f2;
			font-size: 1.2rem;
			font-family: $opensans_light;
			resize: none;

			&:focus {
					background: #d5d3d3; 
					border: none; 
					outline: none;
			}
		}
	}


	&__link {
		width: 25%;
		height: 200px;
		margin-left: 25px;
		margin-top: 20px;
		font-family: $opensans_light;
		font-size: 1.1rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
			color: #333;
			transition-duration: .5s;

			&:hover {
				color: $red_color;
			}
		}

		.location {
			text-transform: uppercase;
		}
	}

}

.icon-block {
	width: 30%;
}

.icon-text {
	width: 70%;
}


.phone-icon {
	width: 50px;
	height: 50px;
}

.mail-icon{ 
	width: 50px;
	height: 50px;
}

.location-icon {
	width: 50px;
	height: 50px;
}

