.main-content__container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

.title {
	font-family: $opensans_reg;
	color: $text_black;
	text-transform: uppercase;
	font-size: 3.8rem;
	
	&--center {
		text-align: center;
	}
}

.color {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // align-items: center;
  
  &__title {
    width: 100%;
    text-align: center;
  }

  &__toxic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1aab1a;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition-duration: .8s;

    &:hover {
      background-color: #000;
    }
  }

  &__cream {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1b8a4;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition-duration: .8s;

    &:hover {
      background-color: #000;
    }
  }
}

.car-grid {
	color: $text_black;
	margin-top: 70px;

	&__block {
		display: flex;
		flex-flow: row wrap;
		margin-top: 25px;
    position: relative;
	}
}

.car__image {
  position: relative;
  height: 500px;

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    // height: 451px;

    
  }
  img:nth-child(2) {
    display: none;
  }
}


.car {

	&__image {
		width: 50%;
		padding: 15px;
		box-sizing: border-box;
		position: relative;
		text-align: center;

		img {
			max-width: 90%;
		}
	}

  &__front-toxic {
    background-image: url('../images/car/front-t1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: 0.8s;
    transition-timing-function: linear;
    // transition-delay: 1.5s;

    &:hover {
      background-image: url('../images/car/front-t2.jpg');
    }
  }

  &__back-toxic {
    background-image: url('../images/car/back-t1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: 0.8s;
    transition-timing-function: linear;


    &:hover {
      background-image: url('../images/car/back-t2.jpg');
    }
  }

    &__front-cream {
    background-image: url('../images/car/front-c1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: 0.8s;
    transition-timing-function: linear;
    // opacity: 0;
    display: none;

    &:hover {
      background-image: url('../images/car/front-c2.jpg');
    }
  }

  &__back-cream {
    background-image: url('../images/car/back-c1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: 0.8s;
    transition-timing-function: linear;
    display: none;
    

    &:hover {
      background-image: url('../images/car/back-c2.jpg');
    }
  }

	&__info {
		width: 50%;
		padding: 15px;
		box-sizing: border-box;
	}

	&__title {
		font-family: $opensans_light;
		text-transform: uppercase;
		font-size: 1.7rem;

		&::after {
			content: '';
			display: block;
			max-width: 165px;
			width: 100%;
			background-color: $red_color;
			height: 3px;
			margin-top: 5px;
			margin-bottom: 20px;
		}
	}

	&__text {
		font-family: $opensans_light;
		font-size: 1.2rem;
		text-align: justify;
		line-height: 25px;
	}
}

.car--hidden {
  opacity: 0;
  display: none;
}

.car--visible {
  opacity: 1;
  display: block;
}

.plus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgba(255,255,255,.5);
  transition-duration: .3s;
  border-radius: 50%;
  border: 2px solid #333;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  user-select: none;  

  &:hover {
    // transform: rotate(180deg);
    background-color: rgba(255,255,255,1);
  }

    // display: flex;
    // align-items: center;
    // position: relative;
    // z-index: 1;
    // width: 50px;
    // height: 50px;
    // color: #343434;
    // background: #fcfcfc;
    // border: 2px solid #343434;
    // border-radius: 50%;
    // transition-duration: .3s;
    // outline: 0;
    // cursor: pointer;
    // &:after{
    //     content: "+";
    //     font-size: 2.5em;
    //     line-height: 1.1em;
    // }
    // &:hover{
    //     transform: rotate(90deg);
    // }
}

.plus--close { 
  position: absolute;
  margin-left: -35px;
  left: 49%;
  top: 45%;
  z-index: 12;
  transform: rotate(42deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgba(255,255,255,1);
  transition-duration: .3s;
  border-radius: 50%;
  border: 2px solid #333;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  user-select: none;  

  &:hover {
    // transform: rotate(180deg);
    // background-color: rgba(255,255,255,0.8);
  }

//     position: absolute;
//     // right: -10px;
//     // left: 10px;
//     // top: 10px;
//     z-index: 12;
//     width: 50px;
//     height: 50px;
//     color: #343434;
//     background: #fcfcfc;
//     border: 2px solid #343434;
//     border-radius: 50%;
//     transition-duration: .3s;
//     outline: 0;
//     cursor: pointer;
// left: 50%;
// margin-left: -50px;
// // margin-top: 50px;
// top: 45%;
//      &:after{
//         content: "+";
//         font-size: 2.5em;
//         line-height: 1.1em;
//         transform: rotate(42deg);
//         display: block;
//     }
//     &:hover{
//         // transform: rotate(90deg);
//         border: 2px solid #7d7979;
//     }
}

#light-btn {
  position: absolute;
  z-index: 10;
  left: 45px;
  top: 320px;
}

.market-block {
  display: none;
}

.marker-info {
  display: flex;
  flex-flow: row nowrap;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;
  // display: none;
  width: 100%;
  overflow: hidden;

  &__image {
    width: 50%;
    // background-color: red;
    // animation-duration: 2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

  }

  &__text {
    width: 50%;
    background-color: #f0f0f1;
    padding: 25px;
    // animation-duration: 2s;
  }
}

.button-line {
	display: flex;
  align-items: center;
  justify-content: center;
	flex-flow: row nowrap;
}

.btn {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 40px;
  text-align: center;
  max-width: 135px;
  margin: 0.5rem;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid currentColor;
  text-decoration: none;
  line-height: 40px;
  color: black;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
.btn--futari {
  position: relative;
  color: #595964;

	&:before,
	&:after {
		z-index: -1;
	}

}
.btn--futari:before, .btn--futari:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #3c3c49;
  border-radius: 50%;
}
.btn--futari:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn--futari:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.btn--futari:hover {
  color: #ceced2;
}
.btn--futari:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn--futari:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.footer {
  background-color: $header_background;
  border-top: 2px solid $header_bottom_line;
  padding: 35px 0;
  text-align: center;
  margin-top: 50px;
}

.site-info {

    &__title {
      font-family: $opensans_light;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text_black;
    }

    &__address {
      font-family: $opensans_light;
      font-size: 0.8rem;
      text-transform: uppercase;
      margin-top: 4px;
      color: $text_black;
    }

    &__phone {
      margin-top: 10px;
      font-size: 1rem;
      display: block;
      text-decoration: none;
      color: $text_black;
      transition-duration: .5s;

      &:hover {
        color: $red_color;
      }
    }
}